.about__container {
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 10%;
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
      45deg,
      transparent,
      var(--color-primary),
      transparent
    );
    display: grid;
    place-items: center;
  }

  .about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
  }
  
  /* Option for image to straighten out on hover */
  /* .about__me-image:hover {
    transform: rotate(0deg);
  } */

.about__cards {
    display: grid;
    grid-template-columns: 2;
    gap: 1.5rem;
}

.about__card {
    /* background: var(--color-white); */
    border: 1px solid transparent;
    /* border-radius: 1rem; */
    /* padding: 2rem; */
    text-align: left;
    transition: var(--transition);
    color: var(--color-primary)
}


@media screen and (max-width: 1024) {
  .about__card h3 {
      font-size: 1.0rem;
      font-weight: 400;
  }
}


@media screen and (max-width: 600px) {
  .about__card h3 {
      font-size: 0.8rem;
      font-weight: 200;
  }
}